.productsContainer {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;


    /* background: url('./../../assets/Productsback.jpg'); */
    /* background-size: cover; */
    /* background-color: black; */
    /* background-position: left top; */
    
}
/************* LEFT SIDE *************/
.productsSideNav {
    margin-top: 60px;
    height: 100vh;
    width: 20vw;
    position: fixed;

    background-color: #2AAAE2;
    color: white;
    /* opacity: .9; */

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.navOverlay {
    /* background-color: red; */
}

.innerProducts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px;
    cursor: pointer;  
}
.innerProducts a {
    text-decoration: none;
    color: #ffffff;
}

.innerProducts a:hover {
    border: thin solid black;
    width: 10vw;
    color: white;
}

/************* RIGHT SIDE *************/

.indvProduct {
    height: 60vh;
    width: 45vw;
    border: thin solid black;
    background-color: rgba(35, 34, 34, 0.61);
    margin-left: 40vw;
    color: white;
}

.displayModal {
    position: fixed;

    /* margin-left: 45vw; */
    z-index: 5;
    transition: .5s;
}

.hideModal {
    position: fixed;
    left: -150px;
    right: 0;
    transition-delay: .15s;
    transition: .5s;
}
/* .productHeader {

} */

/* .introBody {
    height: 40vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
} */

/************* MOBILE VIEW *************/
@media (max-width:800px) {
    .productsContainer {
        /* display: none; */
    }
    .productsSideNav {
        display: none;
    }
    .indvProduct {
        display: none;
    }
}