.demoContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background: #808080; */
    background: linear-gradient(to bottom right, #2AAAE2, #BABDBB);
}

.modalWindow {
    margin-top: 15vh;
    /* opacity: .5; */
    /* margin-bottom: 6vh; */
    /* min-height: 700px; */
    width: 90vw;
    height: 80vh;
    max-width: 900px;
    background: white;
    border-radius: 5px;
    /* border: solid 1px #41414109; */
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: .5s; 
    z-index: 10;
    /* background-color: black; */
}

.modalWindow p {
    /* color: white; */
    display: flex;
    text-align: left;
    /* background-color: red; */
}

.requestInfo {
    /* color: white; */
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.demoSubmit {
    margin-top: 40px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightblue; */
    border: thin solid black;
    border-radius: 10px;
}

