.AboutContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* background-color: #808080; */
    top: 0;
}

.aboutHeader {
    margin-top: 6vh;

    height: 30vh;
    width: 100vw;
    /* font-size: 12px; */
    /* background-color: black; */
    /* color: white; */

    display: flex;
    align-items: center;
}

.nobleBlue {
    margin-left: 140px;
    padding: 200px;
    height: 20vh;
}

/* .storyContainer {
    /* height: 58vh; 
} */

.mobileTeam {
    display: none;
}


/************ MOBILE *************/
@media (max-width:800px) {
    .AboutContainer {
        height: 100vh;
        width: 100vw;
        display: inline;
        /* background-color: lightblue; */
    }
    .aboutHeader {
        margin-top: 10vh;
        height: 100%;
        width: 100vw;
        display: flex;
        text-align: left;
        /* font-size: 8px; */
        /* background-color: lightblue; */
    }

    .aboutHeader p {
        font-size: 24px;
        font-weight: lighter;
        color: #808080;
        margin-left: 12px;
    }
    .storyContainer {
        height: 100%;
        width: 100vw;
        display: flex;
        /* background-color: lightblue; */
    }

    .storyContainer p {
        text-align: left;
        font-size: 14px;
        /* color: #808080; */
        margin-left: 12px;

    }

    .mobileTeam {
        width: 100vw;
        /* margin-bottom: 100px; */
        display: inline-flex;
        flex-direction: column;
        /* background-color: lightblue; */
    }
    .member {
        height: 100%;
        width: 100vw;
        margin-top: 8vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        /* padding-right: 50px; */
        /* background-color: red; */
        /* border-bottom: thin solid black; */
    }

    .memberPhoto {
        height: 150px;
        width: 150px;
        border: thin solid black;
        border-radius: 50%;
        background-color:#2AAAE2;
    }

    .memberPhoto img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .memberName {
        height: 100%;
    }
}