.AboutContainer {
    height: 100%;
    width: 100vw;
    display: inline;
    /* flex-direction: column; */
    background-color: #808080;
    top: 0;
}

.vidIntro {
    background-size: cover;
    /* background-color: red; */
    display: flex;
    height: 100%;
    width: 100%;
    z-index: -1;

    /* align-content: center; */
    /* align-items: center; */
    justify-content: space-around;
    overflow: hidden;
    /* width: 100vw; */
}

.aboutOverlay {
    z-index: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 1080px;
    width: 100%;
    background-color: black;
    /* background-size: cover; */
    overflow: hidden;
    opacity: .6;
}

.overlayIntro {
z-index: 1;
position: absolute;
height: 40vh;
width: 60%;
/* border: thin solid white; */
color: white;
font-size: x-large;
}

.aboutHeader {
    /* margin-top: 6vh; */
    height: 30vh;
    width: 100vw;
    background-color: lightblue;
    color: black;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
}

.nobleBlue {
    margin-left: 140px;
    padding: 200px;
    height: 20vh;
}

/* .storyContainer {
    /* height: 58vh; 
} */

.mobileTeam {
    display: none;
}


/************ MOBILE *************/
@media (max-width:800px) {
    .AboutContainer {
        height: 100vh;
        width: 100vw;
        display: inline;
        /* background-color: lightblue; */
    }
    .aboutHeader {
        margin-top: 10vh;
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: left;
        text-align: center;
        color: black;
        /* font-size: 8px; */
        background: none;
    }

    .aboutHeader p {
        font-size: 24px;
        font-weight: lighter;
        /* color: #808080; */
        margin-left: 12px;
    }
    .storyContainer {
        height: 100%;
        width: 100vw;
        display: flex;
        /* background-color: lightblue; */
    }

    .storyContainer p {
        text-align: left;
        font-size: 14px;
        /* color: #808080; */
        margin-left: 12px;

    }

    .mobileTeam {
        width: 100vw;
        /* margin-bottom: 100px; */
        display: inline-flex;
        flex-direction: column;
        /* background-color: lightblue; */
    }
    .member {
        height: 100%;
        width: 100vw;
        margin-top: 8vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        /* padding-right: 50px; */
        /* background-color: red; */
        /* border-bottom: thin solid black; */
    }

    .memberPhoto {
        height: 150px;
        width: 150px;
        border: thin solid black;
        border-radius: 50%;
        background-color:#2AAAE2;
    }

    .memberPhoto img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .memberName {
        height: 100%;
    }
}