.customersContainer {
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
    /* background-color: black; */
}
.rightCustomers {
    /* height: 100%; */
    width: 70%;
    margin-left: 20vw;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: white; */
    /* border: thin solid red; */
}

.customerList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.indvCustomer {
    width: 100%;
    margin-bottom: 100px;
    height: 500px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    border: thin solid black;
}

.leftOverlay {
    background-color: red;
    width: 50%;
}
.rightOverlay {
    background-color:rgba(35, 34, 34, 0.61);
    /* border-top-left-radius: 100%; */
    margin-left: 50%;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    /* color: white; */
}