/***** FONT URL *****/

.HomeContainer {
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
}

.backgroundVid video {
    width: 100vw;
    transition: .45s;
    z-index: 0;
    /* opacity: .2; */
}

.demoButton {
    height: 10vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: thick solid black;
    background-color: royalblue;
    cursor: pointer;
}
.demoButton a {
    text-decoration: none;
    color: black;
}














.mobileHome {
    display: none;
}
/* mobile and tablet section */
@media (max-width:800px) {
    .HomeContainer {
        margin-top: 70px;
        width: 100vw;
        background-color: white;

    }
    .backgroundVid video {
        display: none;
    }
    .nobleWhite {
        display: none;
    }
    .mobileHome {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}