/***** FONT URL *****/

.homeContainer {
    width: 100vw;
    height: 100vh;
    background: url('./../../assets/Mountains.jpg');
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}


.welcomeBox {
    height: 60vh;
    width: 45vw;
    opacity: 1;
    background-color:rgba(35, 34, 34, 0.61);
    /* border: thin solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerWelcome {
    height: 60vh;
    width: 45vw;
    /* border: thin solid white; */
    opacity: 1;
    /* background-color: red; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomeContainer {
    height: 20vh;
    width: 20vw;

}


.nobleWhite {
    height: 38vh;
    padding: 25px;
    opacity: 1;
}

.getStarted {
    height: 3vh;
    width: 10vw;

    border: thin solid white;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: green;

    text-decoration: none;
    color: white;
    
}

















.mobileHome {
    display: none;
}
/********** mobile and tablet section **********/
@media (max-width:800px) {
    .homeContainer {
        margin-top: 70px;
        width: 100vw;
        background-color: lightblue;
        background: none;

    }
    .backgroundImg {
        display: none;
    }
    .nobleWhite {
        display: none;
    }
    .mobileHome {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    

}