.contactContainer {
    margin-top: 6vh;
    /* background-color: red; */
}
.bullhornContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
    border: solid #2AAAE2;
    border-radius: 50%;
}
.contactHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-left: 10vw;
    font-size: 100px;
    color: white;
}
.contactHeader p {
    color: white;
    font-size: 5.3vh;
    font-weight: lighter;
    margin-left: 4vw;
}
.contactIntro {
    display: flex;
    text-align: left;
    margin-left: 10vw;
    margin-right: 10vw;
    /* flex-direction: row; */
    /* justify-content: space-around; */
}
.contactParagraph {
    display: flex;
    text-align: left;
    margin-left: 10vw;
}
.contactContent {
    margin-left: 10vw;
    margin-right: 10vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* margin-top: 10vh; */
}
.singleContactContainer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contactIcon {
    height: 60px;
    width: 60px;
    /* border: thin solid black; */
    font-size: 3.5vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2AAAE2;
}

.contactInfo {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    /* background-color: blue; */
    /* background-color: red; */
}
.contactInfo a {
    /* text-decoration: none; */
    color: #2AAAE2;
    margin-top: 14px;
}



/*************** MOBILE VIEW ***************/

@media (max-width:800px) {
    .contactContainer {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* text-align: left; */
    }

    .contactHeader {
        padding-left: 14px;
        font-size: 30px;
        font-weight: lighter;
        /* margin-top: 10vh; */
        height: 100%;
        width: 80%;
        text-align: left;
    }
    .contactIntro {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .contactParagraph {
        height: 60.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}