.asmtsContainer {
    /* height: 100vh; */
    width: 100vw;
    margin-top: 60px;
    /* background: url('./../../assets/assessmentsBackground.jpg'); */
    
    
    background-color:rgba(34, 31, 31, 0.61);

    /* display: flex; */
    /* flex-direction: row; */
    /* position: fixed; */
    /* align-items: center; */
    background-size: 200vh;
    /* background-position-x: -50%; */
    overflow: hidden;
}
.assessmentHeader {
    /* background-color: blue; */
    /* margin-top: 150px; */
    /* margin-bottom: 15vh; */
    padding-left: 10px; 
    padding-right: 40px;

    font-size: 25px;
    font-weight: lighter;
}
.assessmentHeader a {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    color: white;
    text-underline-position: below;
}
.assessmentSideNav {
    height: 100%;
    width: 20vw;
    position: fixed;

    background-color: #2AAAE2;
    color: white;

    text-align: left;
}

.backIcon {
    /* font-size: small; */
}

/************* RIGHT SIDE *************/

.asmtsRight {
    /* background-color: blue; */
    height: 100vh;
    /* width: 86.5%; */
    margin-left: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: blue; */
    /* background: url(./../../assets/blankspace.jpg); */
    background-size: cover;
    overflow: hidden;
}
.assessmentsHeader {
    width: 86.5%;
    text-align: left;
    font-size: 25px;
    margin-top: 26px;
}

.swipeable {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 85%;
    background-color: white;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
}