.footerContainer {
    /* height: 100%; */
    width: 100vw;
    background-color: #353535;

    display: flex;
    /* bottom: 0; */
    /* z-index: 10; */
    /* position: fixed; */

    box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, .2), 0 -4px 5px 0 rgba(0, 0, 0, .14), 0 -1px 10px 0 rgba(0, 0, 0, .12);

}

.footerOverlay {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    /* bottom: 0; */
    /* z-index: 10; */

    background: url('./../../assets/Noble Pattern Footer.svg');
    background-repeat: repeat;
    /* opacity: .3; */

    
}

/************** LEFT SECTION *************/

.footerLeft {
    height: 6vh;
    width: 8vw;
    /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 13px;
    color: white;
    text-decoration: none;
}

.footerLeft a {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    text-decoration: none;
    color: white;
}

.footerLeft a:hover {
    color: #2AAAE2;
    transition: .3s;
}

.chatIcon {
    height: 2vh;
}

/************** MIDDLE SECTION *************/

.middleFooter {
    /* height: 5vh; */
    width: 8vw;
    /* background-color: black; */

    margin-left: 24vw;
    margin-right: 24vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footerNoble {
    height: 4vh;
}


/************** RIGHT SECTION *************/

.rightFooter {
    width: 8vw;
    font-size: 3vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.rightFooter a {
    text-decoration: none;
    color: black;
    /* color: #2AAAE2; */
}

.rightFooter a:hover {
    color: #2AAAE2;
    transition: .3s;
}

/************ MOBILE *************/
@media (max-width:800px) {
    .footerContainer {
        display: flex;
        height: 8vh;
    }
    .footerOverlay {
        display: flex;
        height: 8vh;
    }
    .footerLeft {
        width: 30%;
        height: 100%;
        background-color: red;

        font-size: 8px;
    }
    .middleFooter {
        /* width: 1.33%; */
        background-color: blue;
    }
    .rightFooter {
        width: 20.33%;

    }
}
