.customersContainer {
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
    /* background-color: black; */
}
.rightCustomers {
    height: 100%;
    width: 70%;
    margin-left: 20vw;
    display: inline-flex;
    justify-content: center;
    /* background-color: white; */
    border: thin solid black;
}