@import url('https://cloud.typography.com/7268774/6354952/css/fonts.css');
@font-face {
    font-family: "Gotham SSm A, SSm B";
    src: url(https://cloud.typography.com/7268774/6354952/css/fonts.css);
}

/* Navigation */
.navContainer {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;

    top: 0;
    width: 100vw;
    height: 6vh;

    transition: .6s;
    z-index: 10;
    transition-delay: .25s;
    background-color: #808080;
    /* background-color:rgba(35, 34, 34, 0.61); */
    opacity: .9;
    color: white;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 -1px 10px 0 rgba(0, 0, 0, .12);
}

.navLeft {
    display: flex;
    justify-content: space-around;
     /* font-family: "Gotham SSm A, SSm B"; */
    font-style: normal;
    font-weight: 300; 
    

}

.navRight a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 8.5pt;
    letter-spacing: 3px;
    /* font-family: "Gotham SSm A, SSm B"; */
    font-style: normal;
    font-weight: 200; 

}

.navRight a:hover {
    color: #2AAAE2;
    transition: .25s;
}

.mobileLeft {
    display: none;
}
.mobileRight {
    display: none;
}





@media (max-width:800px) {
    .navContainer {
        display: flex;
        position: fixed;
        justify-content: space-between;
        top: 0;
        height: 10vh;
        width: 100vw;
        transition: .6s;
        z-index: 10;
        transition-delay: .25s;
        /* background-color: rgba(35, 34, 34, 0.77); */
        background-color: #808080;
        /* background-color: black; */
        opacity: 1;
        
    }
    .navLeft {
        display: none;
    }
    .navRight {
        display: none;
    }
    /* .mobileNav {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        top: 0;
        width: 100vw;
        transition: .6s;
        z-index: 10;
        transition-delay: .25s;
        background-color: rgba(35, 34, 34, 0.77);
        background-color: #808080;
        background-color: black;
        opacity: 1;
    } */

    .mobileLeft {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px; 
    }
    .mobileNoble {
        height: 50px;
    }

    .mobileRight {
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-right: 10px; 
    }

    /* .bar1 {
        
         -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    .bar2 {
        width: calc(35px /4);
        margin-left: 12px;
        opacity: 0;
        transition: .6s;
    }
    .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    } */
    

    .muiMobile {
        /* background-color: red; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* color: red; */
        /* margin-right: 4px; */
    }

    .navLink {
        text-decoration: none;
    }


}